.DS_Store
/*.swp
/db/*.bz2
app/assets/javascripts/**/*.map
/config/google.json
/config/certs
.envrc
/public/sales.xml
/node_modules/
/public/arrow/*.json
/*.sql
/*.sql.gz
mini_magic*
.buildpath
.project
.bundle
profiles/*
log/*
db/efind_queries
config/secrets.yml
public/assets/
public/javascripts/onelec.js
public/stylesheets/onelec.css
public/onelec_offers.csv
public/all_products.xml
public/all_vendors.xml
public/secret/*
vendor/assets/components/
tags
tmp/
.sass-cache/
gems.tags
coverage
spec/reports
.pt
gems.tags
public/uploads/
public/export/
public/prices/
public/color_images/
db/*.sqlite3
gems.tags
.sass-cache/
config/database.yml
public/assets/
public/system/
.bash_history
.bashrc
.irb-history
.mysql_history
.ssh/
.vim/
.viminfo
.vimrc
.idea
.rvmrc
*~
config/application.local.yml
solr/data
solr/pids
sunspot-solr.pid
db/onelec*.sql
db/*.dump
package-lock.json
.envrc

# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.env.*
